<div class="container">
  <div class="row">
      <div class="col-sm-12 mb-3">
        <button class="btn btn-primary" (click)="onAdd()">Dodaj Lokaciju</button>
      </div>
  </div>

      <h2>Lokacije</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Lokacija</th>
            <th>Ime Grada</th>
            <th colspan="2">Akcija</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let location of locations">
            <td>{{location.name}}</td>
            <td>{{location.city.name}}</td>
            <td>
              <button class="btn" (click)="onEdit(location.id)"><i class="fa fa-edit icon-zoom-in" style="font-size:30px;color:gray;"></i></button>
            </td>
            <td>
              <button class="btn" (click)="onDelete(location.id)"><i class="fa fa-trash" style="font-size:30px;color:red;"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>