<div class="container">
  <div class="row">
      <div class="col-sm-12 mb-3">
        <button class="btn btn-primary" (click)="onAdd()">Dodaj Kategoriju Vozila</button>
      </div>
  </div>

      <h2>Kategorije Vozila</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Kategorija Vozila</th>
            <th colspan="2">Akcija</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories">
            <td>{{category.name}}</td>
            <td>
              <button class="btn" (click)="onEdit(category.id)"><i class="fa fa-edit icon-zoom-in" style="font-size:30px;color:gray;"></i></button>
            </td>
            <td>
              <button class="btn" (click)="onDelete(category.id)"><i class="fa fa-trash" style="font-size:30px;color:red;"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>