<div class="container">
    <div class="row">
        <div class="col-sm-12 mb-3">
          <button class="btn btn-primary" (click)="onAdd()">Dodaj Vozilo</button>
        </div>
    </div>

        <h2>Vozila</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Marka</th>
              <th>Model</th>
              <th>Godina Proizvodnje</th>
              <th>Tip Vozila</th>
              <th colspan="2">Akcija</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let car of cars">
              <td>{{car.brand}}</td>
              <td>{{car.model}}</td>
              <td>{{car.productionYear}}</td>
              <td>{{car.carCategory.name}}</td>
              <td>
                <button class="btn" (click)="onEdit(car.id)"><i class="fa fa-edit icon-zoom-in" style="font-size:30px;color:gray;"></i></button>
              </td>
              <td>
                <button class="btn" (click)="onDelete(car.id)"><i class="fa fa-trash" style="font-size:30px;color:red;"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>